@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

@media (min-width: 1600px) {
  :root {
    font-size: 1.25rem;
  }
}

@media (min-width: 2600px) {
  :root {
    font-size: 2rem;
  }
}
